@font-face {
  font-family: micro-six;
  src: url('/fonts/Micro-Six.ttf');
}

@font-face {
  font-family: retroGaming;
  src: url('/fonts/Retro Gaming.ttf');
}

@font-face {
  font-family: storybook;
  src: url('/fonts/Storyboo.TTF');
}

@font-face {
  font-family: lorin;
  src: url('/fonts/Lorin-Regular.ttf')
}
:root {
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

  --color-text: #f8fcf8;
  --color-bg: #002460;
  --color-border: hsl(17, 24%, 90%);
}

html {
  font-family: retroGaming, system-ui, sans-serif;
  font-size: var(--font-size-base);
 
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}



code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}
a {
  text-decoration: none;
  color: var(--color-text);
}

a[aria-current='page'] {
  color: #0fce3d;
}

li:hover {
  animation: blink 0.7s infinite;
}

li:hover a {
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: #e32029;
  }
}

@media screen and (max-width: 800px) {
  
  .profile-pic img {
    width: 128px;
    height: 115px;
  }

  .content img {
    height: 20vh;
    width: auto;
  }
}