---
import Layout from './Layout.astro'
const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title}>
  <div class="blog-wrapper">
    <div class="title container">
      <h1>
        {frontmatter.title}
      </h1>
    </div>
    <div class="content container">
      <slot />
    </div>
  </div>
</Layout>

<style>
  body {
    background-color: #002460;
    background-image: linear-gradient(to right, #d4eefb 3px, transparent 1px),
      linear-gradient(to bottom, #d4eefb 3px, transparent 1px);
    background-repeat: repeat;
    background-size: 50px 50px;
    background-position: -15px;
  }
  .blog-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  .container {
    border: 5px ridge #5fc3f9;
    box-shadow: 0 0 4px 3px rgba(252, 252, 252, 0.5);
    border-radius: 10px;
    background-color: rgb(80, 205, 255);
    margin-block: 2vh;
    padding-inline: 2vw;
    width: 70%;
  }
</style>

<style is:global>
  h1,
  h2 {
    font-family: retroGaming;
  }
  .content img {
    width: 70%;
    height: auto;
  }
</style>
