---
import '../styles/global.css'
const { title, metaDescription } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="Frank Marra's Portfolio" />
    <meta
      property="og:image"
      content="https://res.cloudinary.com/silverbeard/image/upload/v1664208586/Portfolio/Site_Thumb_x7yclt.png"
    />
    <meta
      property="og:description"
      content="This site shows the various projects Frank Marra has worked on, as well as his most recent resume and a small biography."
    />
    <meta property="og:url" content="https://frankmarra.dev" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta property="og:type" content="website" />

    <link rel="icon" type="image" href="/favicon.ico" />
    <script
      src="https://kit.fontawesome.com/ae0d597aae.js"
      crossorigin="anonymous"
    ></script>
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metaDescription} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
