---
const { href, title, thumb } = Astro.props
---

<li class="link-card">
  <a href={href}>
    <img src={thumb} alt={title} />
  </a>
</li>

<style>
  h3 {
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 0.8rem;
  }
  .link-card {
    margin-inline: 1vw;
    padding: 2vh 1.3vw;
    scroll-snap-align: start;
  }
  .link-card a {
    color: var(--color-text);
    text-align: center;
    align-items: center;
  }
  img {
    height: 40vh;
    width: auto;
    z-index: 0;
  }
</style>
