---
import MainLayout from '../layouts/MainLayout.astro'

let pageDescription =
  'I am a full-stack developer, audio engineer, and project manager with a passion for efficiency and creating.'
---

<MainLayout
  title="About Me"
  pageDescription={pageDescription}
  metaDescription="Frank Marras portfolio about me section.  Provides a simple bio."
>
  <main>
    <div>
      <p>Hi, I'm Frank Marra, and this is my portfolio.</p>
      <p>
        I have walked many paths and one thing that has always remained constant
        is my love of creation. Whether I am recording a song, building a house,
        or developing an app, nothing is more satisfying than stepping back and
        seeing what I have helped create.
      </p>

      <p>
        I'm always open to chatting about music, gaming, or development. Send me
        an <a
          href="mailto:frankrmarra@gmail.com"
          target="_blank"
          id="email"
          aria-label="email"
        >
          email</a
        > and let me know what you are playing, listening to, or working on.
      </p>
    </div>
  </main>
</MainLayout>

<style>
  p {
    line-height: 1.25rem;
    letter-spacing: 0.08rem;
  }
  a:hover {
    animation: blink 0.7s infinite;
  }

  @media screen and (max-width: 800px) {
    p {
      line-height: 1rem;
    }
  }
</style>
