---
import MainLayout from '../layouts/MainLayout.astro'

let pageDescription =
  'These are case studies for my projects, as well as other random musings.'
---

<MainLayout
  title="Blog"
  pageDescription={pageDescription}
  metaDescription="Frank Marras portfolio blog navigation page.  Displays all of the blog posts Frank has written."
>
  <main>
    <h2>Coming Soon!</h2>
  </main>
</MainLayout>

<style>
  h2 {
    text-align: center;
  }
</style>
