---
import MainLayout from '../layouts/MainLayout.astro'

import { getCollection } from 'astro:content'

const posts = await getCollection('posts')

let pageDescription =
  'These are case studies for my projects, as well as other random musings.'
---

<MainLayout
  title="Posts"
  pageDescription={pageDescription}
  metaDescription="Frank Marras portfolio posts navigation page.  Displays all of the posts Frank has written."
>
  <main>
    <ul class="post-list"></ul>
  </main>
</MainLayout>

<style>
  h2 {
    text-align: center;
  }
</style>
