---
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Frank Marras Portfolio"
  pageDescription="Hi, I'm Frank Marra.  Thanks for visiting my portfolio.  Click 'About' for more details about me, 'Projects' to see what I've been working on, or 'Resume' for my work history."
>
  <main></main>
</Layout>

<style>

</style>
