---
import Layout from '../layouts/Layout.astro'

let pageDescription =
  "Hi, I'm Frank Marra.  Thanks for visiting my portfolio.  Click 'About' for more details about me, 'Projects' to see what I've been working on, or 'Resume' for my work history."

let letters = pageDescription.split('')
---

<Layout
  title="Frank Marras Portfolio"
  pageDescription={letters}
  metaDescription="Frank Marra portfolio landing page."
>
  <main>
    <div class="title">
      <div class="title-top">
        <h1 class="story title-rise">Frank Marras</h1>
      </div>
      <div class="title-bottom">
        <h2 class="title-fall story">Portfolio</h2>
        <p class="title-fall copy-date">©2022</p>
      </div>
    </div>
    <br />
    <a href="/projects/">
      <h3 class="press-start blink">Choose an option or click here</h3>
    </a>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-flow: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 3.8rem;
    margin: 0;
  }
  h2 {
    font-size: 3rem;
    margin: 0;
  }

  .story {
    font-family: storybook;
  }

  .title {
    position: relative;
    text-align: center;
  }

  .title-top,
  .title-bottom {
    overflow: hidden;
  }

  .title-rise {
    animation: rise 2s;
  }
  .title-fall {
    animation: fall 2s;
  }
  .blink {
    animation: pressStart 0.5s infinite;
    animation-delay: 2.5s;
    color: transparent;
  }

  @keyframes pressStart {
    from,
    to {
      color: rgba(0, 36, 96, 0.8);
    }
    50% {
      color: var(--color-text);
    }
  }

  @keyframes rise {
    from {
      transform: translateY(20vh);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes fall {
    from {
      transform: translateY(-20vh);
    }
    to {
      transform: translateY(0);
    }
  }
</style>
