---
import MainLayout from '../layouts/MainLayout.astro'

let pageDescription =
  "Hi, I'm Frank Marra.  Thanks for visiting my portfolio.  Look around and have fun."
---

<MainLayout
  title="Frank Marras Portfolio"
  pageDescription={pageDescription}
  metaDescription="Frank Marra portfolio landing page."
>
  <main>
    <div class="title">
      <h2>
        <div class="title-top">
          <span class="story title-rise">Frank Marras</span>
        </div>
        <div class="title-bottom">
          <span class="title-fall story">Portfolio</span>
        </div>
      </h2>

      <div class="title-bottom">
        <p class="title-fall copy-date">©2022</p>
      </div>
    </div>
    <br />
    <a href="/projects/">
      <h3 class="press-start blink">Choose an option or click here</h3>
    </a>
  </main>
</MainLayout>

<style>
  main {
    display: flex;
    flex-flow: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 3.8rem;
    margin: 0;
  }
  h2 {
    font-size: 3rem;
    margin: 0;
  }

  .story {
    font-family: storybook;
  }

  .title {
    position: relative;
    text-align: center;
    font-size: 3rem;
  }

  .title span {
    display: block;
  }

  .title-top,
  .title-bottom {
    overflow: hidden;
  }

  .copy-date {
    font-size: 1rem;
  }

  .title-rise {
    animation: rise 2s;
  }
  .title-fall {
    animation: fall 2s;
  }

  .blink {
    animation: pressStart 0.5s infinite;
    animation-delay: 2.5s;
    color: transparent;
  }

  @keyframes pressStart {
    from,
    to {
      color: rgba(0, 36, 96, 0.8);
    }
    50% {
      color: var(--color-text);
    }
  }

  @keyframes rise {
    from {
      transform: translateY(20vh);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes fall {
    from {
      transform: translateY(-20vh);
    }
    to {
      transform: translateY(0);
    }
  }

  @media screen and (max-width: 800px) {
    main {
      display: flex;
      flex-flow: column;
      height: 100%;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
    }
    h1 {
      font-size: 2rem;
      margin: 0;
    }
    h2 {
      font-size: 2rem;
      margin: 0;
    }
    h3 {
      font-size: 0.8rem;
    }
  }
</style>
