---
import MainLayout from '../layouts/MainLayout.astro'
import Card from '../components/Card.astro'

let pageDescription =
  'These are apps that I have built.  Why not grab a free album from the Download Code Manager, or try and get a high score on Record Reveal?'

let letters = pageDescription.split('')
---

<MainLayout
  title="Projects"
  pageDescription={letters}
  metaDescription="This is the projects page for Frank Marras portfolio that shows what he has worked on."
>
  <main>
    <ul class="carousel">
      <Card
        title="Download Code Manager"
        body="An app that lets record labels store and distribute codes they received from bandcamp to redeem free albums"
        href="/projects/dcm"
        thumb="https://res.cloudinary.com/silverbeard/image/upload/v1663298131/Portfolio/project%20pictures/Box%20art/DCM_Box_bm4n7x.png"
      />
      <Card
        title="Co-Lab"
        body="Music social network where users can post unfished songs and collaborate with other artists to finish them"
        href="/projects/colab"
        thumb="https://res.cloudinary.com/silverbeard/image/upload/v1663298131/Portfolio/project%20pictures/Box%20art/Colab_box_art_yst5nd.png"
      />
      <Card
        title="Work-Track"
        body="Time management app"
        href="/projects/worktrack"
        thumb="https://res.cloudinary.com/silverbeard/image/upload/v1663298131/Portfolio/project%20pictures/Box%20art/Worktrack_box_piuent.png"
      />
      <Card
        title="Backlog"
        body="App to track which games you are currently playing, want to play, and have finished"
        href="/projects/backlog"
        thumb="https://res.cloudinary.com/silverbeard/image/upload/v1663298131/Portfolio/project%20pictures/Box%20art/Backlog_box_uo6t2u.png"
      />
      <Card
        title="Record Reveal"
        body="A simple match game that reveals album covers"
        href="/projects/record-reveal"
        thumb="https://res.cloudinary.com/silverbeard/image/upload/v1663298131/Portfolio/project%20pictures/Box%20art/Record_reveal_box_lsytli.png"
      />
    </ul>
  </main>
</MainLayout>

<style>
  .carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    align-items: center;
  }
</style>
