---
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Projects"
  pageDescription="These are apps that I have built, from newest to oldest.  Why not grab a free album from the Download Code Manager, or try and get a high score on Record Reveal?"
>
  <main></main>
</Layout>

<style>

</style>
