---
import MainLayout from '../layouts/MainLayout.astro'
import Card from '../components/Card.astro'

let pageDescription =
  'These are apps that I have built.  Grab a free album from Download Code Manager or try to get a high score on Record Reveal.'
---

<MainLayout
  title="Projects"
  pageDescription={pageDescription}
  metaDescription="This is the projects page for Frank Marras portfolio that shows what he has worked on."
>
  <main>
    <ul class="carousel">
      <Card
        title="WriteASong.Today"
        body="A simple songwriting aid"
        href="/posts/write-a-song-today"
        thumb="https://res.cloudinary.com/silverbeard/image/upload/v1676834625/Portfolio/project%20pictures/Box%20art/WriteASong_box_gabtmi.png"
        gitLink="https://github.com/frankmarra/writeasong"
      />
      <Card
        title="Backlog v2"
        body="An updated version of the app built with Nextjs and supabase.  It is a simple to-do list for video games."
        href="/posts/backlog-v2"
        thumb="https://res.cloudinary.com/silverbeard/image/upload/v1669647548/Portfolio/project%20pictures/Box%20art/Backlogv2_tewj1j.png"
        gitLink="https://github.com/frankmarra/backlog2"
      />
      <Card
        title="Download Code Manager"
        body="An app that lets record labels store and distribute codes they received from bandcamp to redeem free albums"
        href="/posts/dlcm"
        thumb="https://res.cloudinary.com/silverbeard/image/upload/v1663298131/Portfolio/project%20pictures/Box%20art/DCM_Box_bm4n7x.png"
        gitLink="https://github.com/frankmarra/download-code-manager"
      />

      <Card
        title="Co-Lab"
        body="Music social network where users can post unfished songs and collaborate with other artists to finish them"
        href="/posts/colab"
        thumb="https://res.cloudinary.com/silverbeard/image/upload/v1663298131/Portfolio/project%20pictures/Box%20art/Colab_box_art_yst5nd.png"
        gitLink="https://github.com/frankmarra/Co-Lab-FrontEnd"
      />
      <Card
        title="Work-Track"
        body="Time management app"
        href="/posts/worktrack"
        thumb="https://res.cloudinary.com/silverbeard/image/upload/v1663298131/Portfolio/project%20pictures/Box%20art/Worktrack_box_piuent.png"
        gitLink="https://github.com/MC-JSON/WorkTrack-FrontEnd"
      />
      <Card
        title="Backlog"
        body="App to track which games you are currently playing, want to play, and have finished.  This is the old version of the app built with react.  It is no longer live, and instead links to the new version of the app built with Nextjs"
        href="/posts/backlog"
        thumb="https://res.cloudinary.com/silverbeard/image/upload/v1663298131/Portfolio/project%20pictures/Box%20art/Backlog_box_uo6t2u.png"
        gitLink="https://github.com/frankmarra/Backlog"
      />
      <Card
        title="Record Reveal"
        body="A simple match game that reveals album covers"
        href="/posts/record-reveal"
        thumb="https://res.cloudinary.com/silverbeard/image/upload/v1663298131/Portfolio/project%20pictures/Box%20art/Record_reveal_box_lsytli.png"
        gitLink="https://github.com/frankmarra/Album_Art_Match_Game"
      />
      <Card
        title="Portfolio V1"
        href="https://v1.frankmarra.dev"
        thumb="https://res.cloudinary.com/silverbeard/image/upload/v1664146239/Portfolio/project%20pictures/Box%20art/Portfolio_V1_Box_ws3blz.png"
        gitLink="https://github.com/frankmarra/portfolioV1"
      />
    </ul>
  </main>
</MainLayout>

<style>
  .carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    align-items: center;
  }
</style>
