---
import MainLayout from '../layouts/MainLayout.astro'

const resumeLink =
  'https://docs.google.com/document/d/1q-33FVkjh5DkG0LgGTEdNd-UdJnrkYmfElnjHYoTVzM/edit?usp=sharing'

let pageDescription = 'This is my current resume.'

let letters = pageDescription.split('')
---

<MainLayout
  title="Resume"
  pageDescription={letters}
  metaDescription="Frank Marras resume"
>
  <main>
    <section class="resume-wrapper">
      <div class="resume-download-button">
        <a href={resumeLink}>Download</a>
      </div>
      <iframe
        title="resume"
        class="resume"
        src="https://docs.google.com/document/d/e/2PACX-1vQ2rQLUhTyGuXlMTPqe1F35D_unPAp6gswOtKFNwogr8Kp7bs6SM-9wgLFNqn4giYKFnRy3k2Bv7k_V/pub?embedded=true"
      ></iframe>
    </section>
  </main>
</MainLayout>

<style>
  .resume-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .resume-download-button:hover {
    padding-inline: 2vw;
    animation: blink 0.7s infinite;
    cursor: pointer;
  }

  iframe {
    padding: 0;
    margin: 0;
  }

  iframe.resume {
    border: none;
    height: 55vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
</style>
