---
import MainLayout from '../layouts/MainLayout.astro'

const resumeLink = '/assets/frank marra resume.pdf'

let pageDescription = 'This is my current resume.'
---

<MainLayout
  title="Resume"
  pageDescription={pageDescription}
  metaDescription="Frank Marras resume"
>
  <main>
    <section class="resume-wrapper">
      <iframe title="resume" class="resume" src="/assets/Frank_Marra_Resume.pdf"
      ></iframe>
    </section>
  </main>
</MainLayout>

<style>
  .resume-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .resume-download-button:hover {
    padding-inline: 2vw;
    animation: blink 0.7s infinite;
    cursor: pointer;
  }

  iframe {
    padding: 0;
    margin: 0;
  }

  iframe.resume {
    border: none;
    height: 55vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
</style>
